<module xmlns="urn:jboss:module:1.1" name="org.jboss.teiid.client">
    <resources>
        <resource-root path="teiid-jdbc-${JDV_ARTIFACT_VERSION}.jar"/>
        <resource-root path="teiid-hibernate-dialect-${JDV_ARTIFACT_VERSION}.jar"/>
    </resources>

    <dependencies>
        <module name="javax.api"/>
        <module name="javax.transaction.api"/>
        <module name="org.hibernate"/>
        <module name="sun.jdk"/>
    </dependencies>
</module>
